{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-8">
                <!-- Listar articulos -->
                {% for noticia in noticias%}

                <!-- H1 Articulo -->
                <a class="main-article-link" href="#">
                    <div class="main-article mb-5 pb-3">
                        <!-- Imagen de la noticia -->
                        <img src="{{ asset('images/noticias.jpg') }}" alt="meteor shower">
                        <!-- Titular de la noticia -->
                        <h1 class="text-center mt-2">{{ noticia.textoTitular|replace({'|': "-", "," : "."})}}</h1>
                    </div>
                </a>

                <div class="article-container my-1">
                    <!-- Icono noticia -->
                        <img class="article-img" src="{{ asset('images/tenis.png') }}">
                        <div class="article-title d-inline-block pl-3 align-middle">
                            <!-- Seccion de la noticia -->
                            <span>{{ titulo }}</span>
                            <br>
                            <!-- Fecha de la noticia -->
                            <span class="pl-5 article-details float-right"> {{ noticia.fecha }}</span>
                        </div>
                    </a>
                </div>
                {% else %}
                    No se han encontrado noticias!
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}
